## 3.1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as  plt

Reading the GOLD.csv file into the dataframe for a Linear regression analysis

In [2]:
df = pd.read_csv('GOLD.csv',low_memory=False,parse_dates=['Date'])
df.head()

        Date  Price   Open   High    Low    Vol. Change %   Pred         new
0 2017-05-04  28060  28400  28482  28025   0.08K   -1.79%  738.0  117.570740
1 2017-05-05  28184  28136  28382  28135   0.06K    0.44% -146.0  295.430176
2 2017-05-08  28119  28145  28255  28097   7.85K   -0.23%   30.0  132.123714
3 2017-05-09  27981  28125  28192  27947  10.10K   -0.49%  357.0  101.298064
4 2017-05-10  28007  28060  28146  27981   9.28K    0.09%  124.0  112.153318

Importing the test_train_split and the LinearRegression module from the sklearn library.

In [3]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

Our training data will be formed from the OHLC columns of the dataframe.


We will first analyse the values for the 'new' column in the dataframe which will become our target value for our Regression model.

In [4]:
X = df[['Price','Open','High','Low']]
Y = df[['new']]

A train:test dataset ratio of 7:3 is taken with the random_state set to 1

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

Even though the data is on a similar scale it's better to normalize the values for each column.

To do the same we will import the preprocessing module(can also use a StandardScaler) from the sklearn library and normalize the training data for now.

In [6]:
from sklearn import preprocessing
X_train = preprocessing.scale(X_train)
X_train

array([[-1.38049831, -1.41757582, -1.4347236 , -1.45206494],
       [ 0.97059437,  0.87572142,  0.87911226,  0.93655192],
       [-1.46705596, -1.38974079, -1.40414764, -1.40778737],
       ...,
       [ 0.36157168,  0.34376306,  0.3799597 ,  0.44159192],
       [ 0.10813715,  0.87649462,  0.76674561,  0.1648571 ],
       [-1.51306407, -1.59618393, -1.57231543, -1.56354954]])

lr is our Linear Regression model fitting the training data with the corresponding target values provided for each of them.

In [7]:
lr = LinearRegression().fit(X_train, y_train)
lr

LinearRegression()

Normalizing the test dataset as well in a similar manner.

In [8]:
X_test = preprocessing.scale(X_test)

yhat is the predicted values for the 'new' column for the data of our test set.

In [9]:
yhat = lr.predict(X_test)
yhat

array([[ 245.81074216],
       [ 147.90814074],
       [ 143.2753392 ],
       [  83.0229238 ],
       [ 303.4398561 ],
       [ 448.14317   ],
       [ 573.27960928],
       [ 320.20749482],
       [ 206.84698162],
       [ 281.81765314],
       [  53.22889236],
       [1004.3937709 ],
       [ 327.97641111],
       [  49.88399142],
       [ 166.454858  ],
       [ 191.62269648],
       [ 208.0566558 ],
       [ 132.68707136],
       [ 184.75370797],
       [ 825.19841954],
       [  67.69518266],
       [ 323.43339247],
       [ 317.64005632],
       [ 405.98818058],
       [  41.66922725],
       [ 312.95366335],
       [ 179.34872362],
       [ 165.92743076],
       [ 304.3340161 ],
       [ 244.55315827],
       [  31.3369384 ],
       [ 270.87003697],
       [ 118.97029044],
       [ 290.17829004],
       [ 320.68390099],
       [ 249.42617514],
       [ 423.46524846],
       [ 296.44760699],
       [ 273.37495198],
       [  90.94640406],
       [ 180.78559778],
       [ 252.98351183],
       [ 170.0133418 ],
       [ 126.55357672],
       [ 101.60366877],
       [ 180.20161062],
       [ 495.5537067 ],
       [1131.34327117],
       [ 237.0754242 ],
       [ 133.00168271],
       [ 395.29510453],
       [  85.85951135],
       [ 104.20693243],
       [ 101.18135446],
       [ 160.34671838],
       [ 177.48074473],
       [ 105.13091776],
       [ 102.31677698],
       [ 241.22550415],
       [  49.18523241],
       [ 431.93243909],
       [ 151.95384824],
       [ 294.67412782],
       [ 347.68767979],
       [ 246.21147724],
       [ 270.81524673],
       [ 112.87012816],
       [ 122.03217806],
       [  56.78308912],
       [  92.44130298],
       [ 283.40751085],
       [ 268.13467684],
       [ 387.11718205],
       [ 240.66956899],
       [ 281.13862354],
       [ 284.95659427],
       [ 558.40953005],
       [ 168.85481375],
       [ 433.48502198],
       [ 377.69479204],
       [ 121.12917259],
       [ 159.79366237],
       [ 569.67392114],
       [ 112.84440505],
       [ 129.78144763],
       [ 434.99589971],
       [ 335.18665808],
       [ 245.42900429],
       [ 126.19938903],
       [ 146.45333834],
       [ 249.25965445],
       [ 186.09862894],
       [ 203.04893214],
       [ 394.81166172],
       [ 120.77146081],
       [ 378.98346509],
       [ 217.18920949],
       [ 307.757285  ],
       [ 217.45880485],
       [ 449.69428879],
       [ 270.0696098 ],
       [  68.44277712],
       [ 275.03305177],
       [   8.47291395],
       [ 119.9705881 ],
       [ 158.1777065 ],
       [ 157.57697973],
       [ 166.33883889],
       [ 389.95364625],
       [ 227.98047613],
       [1139.61787915],
       [ 423.12172199],
       [ 114.66444659],
       [ 345.15540082],
       [ 120.82050772],
       [ 143.54045928],
       [ 159.17798386],
       [ 675.34780853],
       [  62.07125902],
       [ 166.03450152],
       [ 311.3854798 ],
       [ 190.144174  ],
       [ 398.25955647],
       [ 115.26711328],
       [ 123.97060272],
       [ 296.55085771],
       [ 306.15684386],
       [  81.25163772],
       [ 125.36773692],
       [  90.75886787],
       [ 508.81479586],
       [  74.40232809],
       [ 128.09943928],
       [ 149.42417915],
       [ 544.62587259],
       [ 681.74227073],
       [ 170.02448465],
       [ 467.60479549],
       [ 242.29326284],
       [ 169.07137393],
       [ 243.13802004],
       [ 479.74029181],
       [ 543.53991368],
       [  97.74297022],
       [ 444.76308065],
       [ 231.28901482],
       [ 118.35873334],
       [  43.69049758],
       [ 241.3637971 ],
       [  90.60839166],
       [ 101.00887867],
       [  93.35922161],
       [ 558.40033313],
       [ 193.1565194 ]])

The score for our training data was found to be quite high

In [10]:
lr.score(X_train,y_train)

0.9999875378103157

But the score for the values not in the training data was slightly lower

In [11]:
lr.score(X_test, y_test)

0.9265704147998461

Let's check whether we can get a better result by making use of a Polynomial Linear Regression model.

Let's start by importing the PolynomialFeatures model

In [12]:
from sklearn.metrics import r2_score
from sklearn.preprocessing import PolynomialFeatures

In [13]:
poly= PolynomialFeatures(degree=2)
x_poly = poly.fit_transform(X_train)

pmod = LinearRegression()
pmod.fit(x_poly, y_train)

LinearRegression()

In [14]:
yhatp = pmod.predict(x_poly)
r2_score(y_train,yhatp)

0.9999999933344922

In [15]:
xp_test = poly.fit_transform(X_test)

In [16]:
yhatp = pmod.predict(xp_test)
r2_score(y_test,yhatp)

0.9266886864251266

A better fit was found for the Polynomial model at degree 2 (tried higher degrees as well but this was the most accurate one)

In [17]:
df[['Pred']].isna().sum()

Pred    101
dtype: int64

Now as mentioned in the problem statement, the 'Pred' column must have a linear relationship with the OHLC columns.

So we'll set the independent values accordingly and the target value will be the "Pred" column itself.

In [18]:
Xp = df[['Price','Open','High','Low','Pred']]
Yp = df[['Pred']]

We are dropping the rows which have a nan value since they can't be used to train our model.

In [19]:
Xp = Xp.dropna()
Yp = Yp.dropna()

Xp = Xp.drop(columns=['Pred'])
Xp.head()

   Price   Open   High    Low
0  28060  28400  28482  28025
1  28184  28136  28382  28135
2  28119  28145  28255  28097
3  27981  28125  28192  27947
4  28007  28060  28146  27981

In [20]:
Yp.head()

    Pred
0  738.0
1 -146.0
2   30.0
3  357.0
4  124.0

As usual, splitting the data into a train/test set.

In [21]:
X_train, X_test, y_train, y_test = train_test_split(Xp, Yp, test_size=0.3, random_state=1)

Normalizing the data in the X_train columns

In [22]:
X_train = preprocessing.scale(X_train)
X_train

array([[-1.03707756, -1.41345155, -1.12129044, -1.31356744],
       [ 1.53696572,  1.3719064 ,  1.47884605,  1.43521236],
       [-1.21755645, -1.21351249, -1.28050241, -1.17224712],
       ...,
       [ 0.9649561 ,  0.94642032,  1.00121016,  1.06001685],
       [ 0.64443347,  1.62503122,  1.49545098,  0.71169211],
       [-1.40592514, -1.52474768, -1.4934362 , -1.46384469]])

In [23]:
lr = LinearRegression().fit(X_train, y_train)
lr

LinearRegression()

In [24]:
X_test = preprocessing.scale(X_test)
yhat = lr.predict(X_test)

A perfect score was found on the training data.

In [25]:
lr.score(X_train,y_train)

1.0

The score for values not in the training set was also found to be very high.

In [26]:
lr.score(X_test, y_test)

0.9894047124226659

A result of very high accuracy was obtained from the Linear model itself so a linear fit is satisfactory, also because a score of 1.0 was obtained while training the model

Now to fill the values in the "Pred" column which have a nan value on the basis of our Linear Regression model which we just trained.

In [27]:
df_set = df[df['Pred'].isnull()]

df_set is the dataframe containing only the nan values which we need to fill

In [28]:
df_set

          Date  Price   Open   High    Low    Vol. Change %  Pred         new
411 2018-12-11  31812  31850  31850  31618  10.53K   -0.26%   NaN  195.423493
412 2018-12-12  31626  31749  31749  31582   7.57K   -0.58%   NaN   44.232664
413 2018-12-13  31414  31550  31600  31337   8.43K   -0.67%   NaN  127.646233
414 2018-12-14  31437  31440  31514  31384   6.75K    0.07%   NaN  127.219539
415 2018-12-17  31501  31369  31530  31291   5.97K    0.20%   NaN  372.603976
..         ...    ...    ...    ...    ...     ...      ...   ...         ...
507 2019-04-26  31868  31851  31934  31705   9.67K    0.08%   NaN  247.177322
508 2019-04-30  31625  31800  31824  31597   6.44K   -0.76%   NaN   52.201158
509 2019-05-01  31563  31604  31657  31503   1.55K   -0.20%   NaN  113.293305
510 2019-05-02  31203  31420  31425  31160   0.48K   -1.14%   NaN   48.365693
511 2019-05-03  31341  31250  31500  31163   0.08K    0.44%   NaN  429.924911

[101 rows x 9 columns]

In [29]:
Xs = df_set[['Price','Open','High','Low']]
x_set = preprocessing.scale(Xs)

lr was our Linear regression model and we'll just pass the corresponding normalized OHLC values to predict the values for the "Pred" column

In [30]:
y_set = lr.predict(x_set)
y_set

array([[ 944.9704424 ],
       [ 306.4457174 ],
       [ 507.01633571],
       [ -64.97211126],
       [ 363.35213286],
       [1382.14732273],
       [ 403.20473407],
       [ 724.1825726 ],
       [-218.11984206],
       [ 573.05251597],
       [-316.56219183],
       [ 269.93033455],
       [  94.3064203 ],
       [ 654.83878358],
       [ 429.86908025],
       [-377.16356795],
       [ 369.46404674],
       [3935.29013546],
       [ 224.94959377],
       [ 106.85213377],
       [ 401.61090344],
       [ 353.21340818],
       [-429.52977522],
       [ 174.17591587],
       [-369.9632285 ],
       [  25.08332454],
       [   6.90323687],
       [ 414.67979353],
       [-213.09094849],
       [ 252.42802776],
       [-169.78174324],
       [ -24.93195256],
       [ 243.88339989],
       [-252.75440927],
       [ 163.25029374],
       [ -60.5807524 ],
       [-282.60016556],
       [ 491.51149893],
       [2497.12495165],
       [ 682.00743162],
       [-622.43265531],
       [ 371.01271694],
       [ 177.03044472],
       [ 542.69506612],
       [ 100.37115451],
       [-100.98856696],
       [ 196.53526626],
       [-141.89260796],
       [-424.86669115],
       [ 105.96391879],
       [-300.62282977],
       [ 544.85678983],
       [ 131.39290807],
       [ 244.92210297],
       [-779.27501594],
       [-238.81349103],
       [ 354.67774953],
       [4106.61415022],
       [  70.95806404],
       [3827.70262607],
       [ 336.57863957],
       [ 526.57443032],
       [  -9.52216262],
       [ 611.98834867],
       [-126.04823334],
       [-333.83118544],
       [1047.20592768],
       [ 189.05537837],
       [ 562.98102918],
       [ 342.5306952 ],
       [ 523.78525165],
       [-211.36164919],
       [ 786.17851128],
       [ 300.55345114],
       [ 354.37247586],
       [-148.2469276 ],
       [ 900.24919459],
       [ 271.27324487],
       [-295.43242614],
       [ 754.78821638],
       [ 499.10876798],
       [ 549.69749929],
       [ 489.01597882],
       [ -21.72496383],
       [ 116.82575328],
       [ 360.30621264],
       [1236.38412831],
       [-338.95447847],
       [ 554.54638392],
       [ 390.44415997],
       [  44.28510856],
       [ 113.52301116],
       [-488.58021671],
       [ 240.82742558],
       [ 266.9015979 ],
       [ 350.03163182],
       [ 465.02615563],
       [ 324.84153225],
       [  98.42362315],
       [ 635.21505661],
       [ 182.73911421]])

The values we just found were added to df_set.

The indexes were retained so the df_set can be directly appended to our original dataframe.

In [31]:
df_set['Pred'] = y_set
df_set

<ipython-input-31-f4b2d55f9e05>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_set['Pred'] = y_set

,Date,Price,Open,High,Low,Vol.,Change %,Pred,new
411,2018-12-11,31812,31850,31850,31618,10.53K,-0.26%,944.970442,195.423493
412,2018-12-12,31626,31749,31749,31582,7.57K,-0.58%,306.445717,44.232664
413,2018-12-13,31414,31550,31600,31337,8.43K,-0.67%,507.016336,127.646233
414,2018-12-14,31437,31440,31514,31384,6.75K,0.07%,-64.972111,127.219539
415,2018-12-17,31501,31369,31530,31291,5.97K,0.20%,363.352133,372.603976
...,...,...,...,...,...,...,...,...,...
507,2019-04-26,31868,31851,31934,31705,9.67K,0.08%,465.026156,247.177322
508,2019-04-30,31625,31800,31824,31597,6.44K,-0.76%,324.841532,52.201158
509,2019-05-01,31563,31604,31657,31503,1.55K,-0.20%,98.423623,113.293305
510,2019-05-02,31203,31420,31425,31160,0.48K,-1.14%,635.215057,48.365693
511,2019-05-03,31341,31250,31500,31163,0.08K,0.44%,182.739114,429.924911

Dropping the nan values from the original dataframe and adding the values predicted by the model

In [32]:
df1= df.dropna()
df = df1.append(df_set)
df

,Date,Price,Open,High,Low,Vol.,Change %,Pred,new
0,2017-05-04,28060,28400,28482,28025,0.08K,-1.79%,738.000000,117.570740
1,2017-05-05,28184,28136,28382,28135,0.06K,0.44%,-146.000000,295.430176
2,2017-05-08,28119,28145,28255,28097,7.85K,-0.23%,30.000000,132.123714
3,2017-05-09,27981,28125,28192,27947,10.10K,-0.49%,357.000000,101.298064
4,2017-05-10,28007,28060,28146,27981,9.28K,0.09%,124.000000,112.153318
...,...,...,...,...,...,...,...,...,...
507,2019-04-26,31868,31851,31934,31705,9.67K,0.08%,465.026156,247.177322
508,2019-04-30,31625,31800,31824,31597,6.44K,-0.76%,324.841532,52.201158
509,2019-05-01,31563,31604,31657,31503,1.55K,-0.20%,98.423623,113.293305
510,2019-05-02,31203,31420,31425,31160,0.48K,-1.14%,635.215057,48.365693
511,2019-05-03,31341,31250,31500,31163,0.08K,0.44%,182.739114,429.924911

# 3.2

importing the statsmodel module which will help in calculating the Beta value with the OLS method.

In [33]:
import statsmodels.api as sm
from statsmodels.regression.linear_model import OLS

Importing the Eicher and the Nifty data.

In [34]:
dfn = pd.read_csv('Nifty50/Nifty50.csv',low_memory=False,parse_dates=['Date'])
dfe = pd.read_csv('EICHERMOT.csv')
dfn.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr)
0,2017-05-15,9433.55,9449.25,9423.10,9445.40,145163953,7790.97
1,2017-05-16,9461.00,9517.20,9456.35,9512.25,171709433,9209.89
2,2017-05-17,9517.60,9532.60,9486.10,9525.75,211856040,10726.23
3,2017-05-18,9453.20,9489.10,9418.10,9429.45,199340647,10782.46
4,2017-05-19,9469.90,9505.75,9390.75,9427.90,259861396,11544.77

In [35]:
dfe = dfe[dfe.Series == 'EQ']
dfe.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,EICHERMOT,EQ,15-May-2017,29178.35,29403.10,29455.00,28831.00,28915.05,28930.60,29015.64,20026,5.810673e+08,8495,8193,40.91
1,EICHERMOT,EQ,16-May-2017,28930.60,28920.45,29450.00,28820.00,29365.95,29362.50,29107.91,36189,1.053386e+09,11584,16359,45.20
2,EICHERMOT,EQ,17-May-2017,29362.50,29262.00,29300.00,28971.35,28982.05,29093.55,29116.26,18545,5.399610e+08,7918,10611,57.22
3,EICHERMOT,EQ,18-May-2017,29093.55,28900.00,28998.85,28213.00,28213.00,28357.30,28521.49,30153,8.600085e+08,11283,15761,52.27
4,EICHERMOT,EQ,19-May-2017,28357.30,28698.00,28698.00,27756.00,27915.00,27936.05,28024.04,44251,1.240092e+09,21721,20153,45.54

In [36]:
df2 = dfe[['Close Price']]
df2 = df2.reset_index()
df2 = df2.drop(columns='index')

In [37]:
t = dfn[['Close']]
df2 = pd.merge(df2, t, left_index=True, right_index=True)

The Closing price of both the stocks are taken together in a single dataframe

In [38]:
df2.head()

   Close Price    Close
0     28930.60  9445.40
1     29362.50  9512.25
2     29093.55  9525.75
3     28357.30  9429.45
4     27936.05  9427.90

Calculating the percentage changes of the Closing price of both the stocks

In [39]:
dfpc = df2[['Close Price']].pct_change()
t = df2[['Close']].pct_change()

dfpc = pd.merge(dfpc, t, left_index=True, right_index=True)

dfpc.rename(columns={'Close Price':'Epc','Close':'Npc'},inplace=True)

dfpc['Date'] = dfn[['Date']]

In [40]:
dfpc= dfpc.dropna()
dfpc = dfpc.reset_index()
dfpc = dfpc.drop(columns=['index'])

In [41]:
dfpc

          Epc       Npc       Date
0    0.014929  0.007078 2017-05-16
1   -0.009160  0.001419 2017-05-17
2   -0.025306 -0.010109 2017-05-18
3   -0.014855 -0.000164 2017-05-19
4   -0.026709  0.001098 2017-05-22
..        ...       ...        ...
488  0.000162 -0.008652 2019-05-07
489 -0.000818 -0.012041 2019-05-08
490  0.001197 -0.005075 2019-05-09
491 -0.000339 -0.002026 2019-05-10
492 -0.078719 -0.011588 2019-05-13

[493 rows x 3 columns]

In [42]:
model = sm.OLS(dfpc['Epc'], dfpc['Npc'])
results = model.fit()
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                    Epc   R-squared (uncentered):                   0.221
Model:                            OLS   Adj. R-squared (uncentered):              0.219
Method:                 Least Squares   F-statistic:                              139.4
Date:                Sat, 27 Jun 2020   Prob (F-statistic):                    1.71e-28
Time:                        13:44:58   Log-Likelihood:                          1318.4
No. Observations:                 493   AIC:                                     -2635.
Df Residuals:                     492   BIC:                                     -2631.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Npc            1.2322      0.104     11.806      0.000       1.027       1.437
==============================================================================
Omnibus:                       29.570   Durbin-Watson:                   1.931
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              102.048
Skew:                          -0.002   Prob(JB):                     6.93e-23
Kurtosis:                       5.229   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [43]:
model = sm.OLS(dfpc['Epc'].tail(90), dfpc['Npc'].tail(90))
results = model.fit()
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                    Epc   R-squared (uncentered):                   0.202
Model:                            OLS   Adj. R-squared (uncentered):              0.194
Method:                 Least Squares   F-statistic:                              22.60
Date:                Sat, 27 Jun 2020   Prob (F-statistic):                    7.64e-06
Time:                        13:44:59   Log-Likelihood:                          222.26
No. Observations:                  90   AIC:                                     -442.5
Df Residuals:                      89   BIC:                                     -440.0
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Npc            1.5097      0.318      4.754      0.000       0.879       2.141
==============================================================================
Omnibus:                       10.777   Durbin-Watson:                   1.806
Prob(Omnibus):                  0.005   Jarque-Bera (JB):               15.616
Skew:                          -0.515   Prob(JB):                     0.000407
Kurtosis:                       4.762   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

The beta value for the last 3 months was found to be 1.5097
The beta value was more than 1. This indicates that the Eicher Motors stock is more volatile than the market.
If it was negative, it would mean that the stock is less volatile than the market (Nifty).

Indicating the month for each row in the dataframe

In [44]:
dfm = pd.DataFrame(dfpc.Date.dt.month)
dfm.rename(columns={'Date': 'Month'},inplace=True)

In [45]:
dfpc = pd.merge(dfpc, dfm, left_index=True, right_index=True)
dfpc

          Epc       Npc       Date  Month
0    0.014929  0.007078 2017-05-16      5
1   -0.009160  0.001419 2017-05-17      5
2   -0.025306 -0.010109 2017-05-18      5
3   -0.014855 -0.000164 2017-05-19      5
4   -0.026709  0.001098 2017-05-22      5
..        ...       ...        ...    ...
488  0.000162 -0.008652 2019-05-07      5
489 -0.000818 -0.012041 2019-05-08      5
490  0.001197 -0.005075 2019-05-09      5
491 -0.000339 -0.002026 2019-05-10      5
492 -0.078719 -0.011588 2019-05-13      5

[493 rows x 4 columns]

Indicating the year for each row in the dataframe

In [46]:
dfy = pd.DataFrame(dfpc.Date.dt.year)
dfy.rename(columns={'Date': 'Year'},inplace=True)
dfpc = pd.merge(dfpc, dfy, left_index=True, right_index=True)
dfpc

          Epc       Npc       Date  Month  Year
0    0.014929  0.007078 2017-05-16      5  2017
1   -0.009160  0.001419 2017-05-17      5  2017
2   -0.025306 -0.010109 2017-05-18      5  2017
3   -0.014855 -0.000164 2017-05-19      5  2017
4   -0.026709  0.001098 2017-05-22      5  2017
..        ...       ...        ...    ...   ...
488  0.000162 -0.008652 2019-05-07      5  2019
489 -0.000818 -0.012041 2019-05-08      5  2019
490  0.001197 -0.005075 2019-05-09      5  2019
491 -0.000339 -0.002026 2019-05-10      5  2019
492 -0.078719 -0.011588 2019-05-13      5  2019

[493 rows x 5 columns]

Grouping all the rows according to the month of each year and getting the percentage change of the Close Price on the last day of each month.

In [47]:
dfp = dfpc.groupby(['Year','Month']).last()
dfp

                 Epc       Npc       Date
Year Month
2017 5      0.003940 -0.000343 2017-05-31
     6     -0.010997  0.001768 2017-06-30
     7      0.023574  0.006251 2017-07-31
     8      0.015067  0.003389 2017-08-31
     9      0.034060  0.002011 2017-09-29
     10    -0.004252 -0.002736 2017-10-31
     11    -0.009140 -0.013005 2017-11-30
     12     0.017042  0.005039 2017-12-29
2018 1      0.008775 -0.001986 2018-01-31
     2      0.010425 -0.005822 2018-02-28
     3     -0.001810 -0.006918 2018-03-28
     4     -0.012997  0.004400 2018-04-30
     5      0.021381  0.011475 2018-05-31
     6      0.005801  0.011823 2018-06-29
     7     -0.027841  0.003264 2018-07-31
     8      0.016578  0.000317 2018-08-31
     9     -0.028785 -0.004291 2018-09-28
     10     0.039877  0.018454 2018-10-31
     11    -0.004932  0.001662 2018-11-30
     12     0.001481  0.000244 2018-12-31
2019 1      0.004577  0.016819 2019-01-31
     2     -0.026394 -0.001309 2019-02-28
     3     -0.016809  0.004659 2019-03-29
     4      0.001852 -0.000553 2019-04-30
     5     -0.078719 -0.011588 2019-05-13

In [48]:
model = sm.OLS(dfp['Epc'], dfp['Npc'])
results = model.fit()
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                    Epc   R-squared (uncentered):                   0.275
Model:                            OLS   Adj. R-squared (uncentered):              0.245
Method:                 Least Squares   F-statistic:                              9.105
Date:                Sat, 27 Jun 2020   Prob (F-statistic):                     0.00595
Time:                        13:44:59   Log-Likelihood:                          62.128
No. Observations:                  25   AIC:                                     -122.3
Df Residuals:                      24   BIC:                                     -121.0
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Npc            1.6306      0.540      3.017      0.006       0.515       2.746
==============================================================================
Omnibus:                        4.751   Durbin-Watson:                   1.508
Prob(Omnibus):                  0.093   Jarque-Bera (JB):                3.058
Skew:                          -0.815   Prob(JB):                        0.217
Kurtosis:                       3.528   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

The beta value for the last 3 months was found to be 1.6306
The beta value was more than 1. This indicates that the Eicher Motors stock is more volatile than the market.
If it was negative, it would mean that the stock is less volatile than the market (Nifty).