## 1.1 
Importing the necessary pandas and numpy libraries

In [1]:
import pandas as pd
import numpy as np

Reading the data of Eicher Motors into the dataframe

In [2]:
df= pd.read_csv('EICHERMOT.csv')
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,EICHERMOT,EQ,15-May-2017,29178.35,29403.10,29455.00,28831.00,28915.05,28930.60,29015.64,20026,5.810673e+08,8495,8193,40.91
1,EICHERMOT,EQ,16-May-2017,28930.60,28920.45,29450.00,28820.00,29365.95,29362.50,29107.91,36189,1.053386e+09,11584,16359,45.20
2,EICHERMOT,EQ,17-May-2017,29362.50,29262.00,29300.00,28971.35,28982.05,29093.55,29116.26,18545,5.399610e+08,7918,10611,57.22
3,EICHERMOT,EQ,18-May-2017,29093.55,28900.00,28998.85,28213.00,28213.00,28357.30,28521.49,30153,8.600085e+08,11283,15761,52.27
4,EICHERMOT,EQ,19-May-2017,28357.30,28698.00,28698.00,27756.00,27915.00,27936.05,28024.04,44251,1.240092e+09,21721,20153,45.54

Retaining only the rows having the value for the 'Series' column as 'EQ' as mentioned in the problem statement

In [3]:
df = df[df.Series == 'EQ']
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,EICHERMOT,EQ,15-May-2017,29178.35,29403.10,29455.00,28831.00,28915.05,28930.60,29015.64,20026,5.810673e+08,8495,8193,40.91
1,EICHERMOT,EQ,16-May-2017,28930.60,28920.45,29450.00,28820.00,29365.95,29362.50,29107.91,36189,1.053386e+09,11584,16359,45.20
2,EICHERMOT,EQ,17-May-2017,29362.50,29262.00,29300.00,28971.35,28982.05,29093.55,29116.26,18545,5.399610e+08,7918,10611,57.22
3,EICHERMOT,EQ,18-May-2017,29093.55,28900.00,28998.85,28213.00,28213.00,28357.30,28521.49,30153,8.600085e+08,11283,15761,52.27
4,EICHERMOT,EQ,19-May-2017,28357.30,28698.00,28698.00,27756.00,27915.00,27936.05,28024.04,44251,1.240092e+09,21721,20153,45.54

## 1.2

Mean of the 'Closing Price' of the stock for all days contained in the dataframe.

In [4]:
mean = np.mean(df['Close Price'].tail(90))
mean

20719.404444444444

Maximum of the 'Closing Price' of the stock for all days contained in the dataframe.

In [5]:
mx = np.max(df['Close Price'].tail(90))
mx

23195.1

Minimum of the 'Closing Price' of the stock for all days contained in the dataframe.

In [6]:
mn = np.min(df['Close Price'].tail(90))
mn

18751.75

## 1.3

When the dates are stored to a csv file their datatype is changed to "object" hence we convert them to datetime after loading into the dataframe

In [7]:
df = df.astype({"Date": 'datetime64[ns]'})

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 494 entries, 0 to 494
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Symbol                  494 non-null    object
 1   Series                  494 non-null    object
 2   Date                    494 non-null    datetime64[ns]
 3   Prev Close              494 non-null    float64
 4   Open Price              494 non-null    float64
 5   High Price              494 non-null    float64
 6   Low Price               494 non-null    float64
 7   Last Price              494 non-null    float64
 8   Close Price             494 non-null    float64
 9   Average Price           494 non-null    float64
 10  Total Traded Quantity   494 non-null    int64
 11  Turnover                494 non-null    float64
 12  No. of Trades           494 non-null    int64
 13  Deliverable Qty         494 non-null    int64
 14  % Dly Qt to Traded Qty  494 non-null    float64
dtypes: datetime64[ns](1), float64(9), int64(3), object(2)
memory usage: 61.8+ KB

## 1.4

In the following cells I extracted the Year and Month values from the original dataframe and appended these to the values originally contained in 'df'. This data will now be stored in df2

In [9]:
dfy = pd.DataFrame(df.Date.dt.year)
dfy.rename(columns={'Date': 'Year'},inplace=True)

In [10]:
df2 = pd.merge(df, dfy, left_index=True, right_index=True)
df2.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year
0,EICHERMOT,EQ,2017-05-15,29178.35,29403.10,29455.00,28831.00,28915.05,28930.60,29015.64,20026,5.810673e+08,8495,8193,40.91,2017
1,EICHERMOT,EQ,2017-05-16,28930.60,28920.45,29450.00,28820.00,29365.95,29362.50,29107.91,36189,1.053386e+09,11584,16359,45.20,2017
2,EICHERMOT,EQ,2017-05-17,29362.50,29262.00,29300.00,28971.35,28982.05,29093.55,29116.26,18545,5.399610e+08,7918,10611,57.22,2017
3,EICHERMOT,EQ,2017-05-18,29093.55,28900.00,28998.85,28213.00,28213.00,28357.30,28521.49,30153,8.600085e+08,11283,15761,52.27,2017
4,EICHERMOT,EQ,2017-05-19,28357.30,28698.00,28698.00,27756.00,27915.00,27936.05,28024.04,44251,1.240092e+09,21721,20153,45.54,2017

In [11]:
dfm = pd.DataFrame(df.Date.dt.month)
dfm.rename(columns={'Date': 'Month'},inplace=True)

In [12]:
df2 = pd.merge(df2, dfm, left_index=True, right_index=True)
df2

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month
0,EICHERMOT,EQ,2017-05-15,29178.35,29403.10,29455.00,28831.00,28915.05,28930.60,29015.64,20026,5.810673e+08,8495,8193,40.91,2017,5
1,EICHERMOT,EQ,2017-05-16,28930.60,28920.45,29450.00,28820.00,29365.95,29362.50,29107.91,36189,1.053386e+09,11584,16359,45.20,2017,5
2,EICHERMOT,EQ,2017-05-17,29362.50,29262.00,29300.00,28971.35,28982.05,29093.55,29116.26,18545,5.399610e+08,7918,10611,57.22,2017,5
3,EICHERMOT,EQ,2017-05-18,29093.55,28900.00,28998.85,28213.00,28213.00,28357.30,28521.49,30153,8.600085e+08,11283,15761,52.27,2017,5
4,EICHERMOT,EQ,2017-05-19,28357.30,28698.00,28698.00,27756.00,27915.00,27936.05,28024.04,44251,1.240092e+09,21721,20153,45.54,2017,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,EICHERMOT,EQ,2019-05-07,20349.90,20470.00,20579.90,20270.05,20345.00,20353.20,20366.88,48978,9.975293e+08,12756,19053,38.90,2019,5
491,EICHERMOT,EQ,2019-05-08,20353.20,20280.00,20470.00,20250.00,20350.00,20336.55,20365.19,43021,8.761307e+08,12698,13056,30.35,2019,5
492,EICHERMOT,EQ,2019-05-09,20336.55,20315.00,20490.85,20227.60,20390.00,20360.90,20353.58,43718,8.898180e+08,11556,16312,37.31,2019,5
493,EICHERMOT,EQ,2019-05-10,20360.90,20390.00,20417.55,20301.00,20361.35,20354.00,20346.97,54755,1.114098e+09,11925,25079,45.80,2019,5
494,EICHERMOT,EQ,2019-05-13,20354.00,20050.00,20121.00,18600.00,18700.00,18751.75,19178.44,342973,6.577686e+09,87269,86209,25.14,2019,5

For calculating the Volume Weighted Average Price (VWAP), we need the following 4 columns of our original dataframe.

In [13]:
dfc = df2[['Close Price','No. of Trades','Year','Month']]
dfc.head()

   Close Price  No. of Trades  Year  Month
0     28930.60           8495  2017      5
1     29362.50          11584  2017      5
2     29093.55           7918  2017      5
3     28357.30          11283  2017      5
4     27936.05          21721  2017      5

VWAP = sum(price * volume)/sum(volume)

In [14]:
dfc[['Close Price']]=dfc[["Close Price"]].multiply(df["No. of Trades"], axis="index")
dfc.head()

C:\Users\praty\AppData\Roaming\Python\Python38\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

    Close Price  No. of Trades  Year  Month
0  2.457654e+08           8495  2017      5
1  3.401352e+08          11584  2017      5
2  2.303627e+08           7918  2017      5
3  3.199554e+08          11283  2017      5
4  6.067989e+08          21721  2017      5

Grouping the values having the same year and month together.

In [15]:
td=dfc.groupby(['Year','Month']).sum()
td

             Close Price  No. of Trades
Year Month
2017 5      5.747759e+09         204773
     6      6.937493e+09         244892
     7      7.629768e+09         267482
     8      1.130483e+10         364370
     9      9.374711e+09         294539
     10     6.240301e+09         198150
     11     8.324792e+09         271902
     12     8.363732e+09         284200
2018 1      1.351617e+10         487258
     2      1.109018e+10         401569
     3      7.027327e+09         250407
     4      8.811034e+09         290457
     5      8.770226e+09         289494
     6      9.199518e+09         313605
     7      8.765769e+09         314986
     8      1.095430e+10         389070
     9      1.032484e+10         382731
     10     2.175867e+10         974928
     11     1.481583e+10         630241
     12     9.483820e+09         408780
2019 1      1.843514e+10         912521
     2      1.548960e+10         754588
     3      1.609584e+10         740192
     4      1.051237e+10         509521
     5      3.676746e+09         187235

These are the corresponding values of VWAP for each month

In [16]:
td['VWAP'] = td['Close Price']/td['No. of Trades']
td['VWAP']

Year  Month
2017  5        28068.931127
      6        28328.784394
      7        28524.416634
      8        31025.681467
      9        31828.421561
      10       31492.811604
      11       30616.882318
      12       29429.034552
2018  1        27739.247597
      2        27617.121078
      3        28063.621850
      4        30335.072987
      5        30295.016729
      6        29334.728757
      7        27829.076247
      8        28155.086475
      9        26976.741560
      10       22318.237107
      11       23508.199958
      12       23200.303202
2019  1        20202.432176
      2        20527.226491
      3        21745.488135
      4        20631.877124
      5        19637.064421
Name: VWAP, dtype: float64

## 1.5

function to accept the parameter 'N' and return the average closing price for the last N days.

In [17]:
def avg_price(N):
    sum = df[['Close Price']].tail(N).sum()
    sum = pd.Series(sum).values[0]
    return sum/N

This function is going to calculate the profit/loss percentange over the last 'N' days

In [18]:
def profit_loss(N):
    l = df[['Close Price']].iloc[len(df.columns)]
    f = df[['Close Price']].iloc[len(df.columns)-N]
    val = ((l-f)/f)*100
    val = pd.Series(val).values[0]
    if(val<0):
        print('Loss= ',abs(val),'%')
    else:
        print('Profit= ',abs(val),'%')

In [19]:
print('Average Price over last week=',avg_price(7))
profit_loss(7)

print('Average Price over last 2 weeks=',avg_price(14))
profit_loss(14)

print('Average Price over last month=',avg_price(30))
profit_loss(30)

print('Average Price over last 90 days=',avg_price(90))
profit_loss(90)

print('Average Price over last 180 days=',avg_price(180))
profit_loss(180)

print('Average Price over last year=',avg_price(365))
profit_loss(365)

Average Price over last week= 20122.664285714283
Profit=  4.698592796359797 %
Average Price over last 2 weeks= 20265.014285714282
Loss=  0.12601106853980418 %
Average Price over last month= 20565.15666666667
Profit=  39.48648918611674 %
Average Price over last 90 days= 20719.404444444444
Profit=  46.422508488116634 %
Average Price over last 180 days= 22694.379166666666
Profit=  1.6687959256902993 %
Average Price over last year= 25847.449178082188
Profit=  1.1225881423933464 %

## 1.6

Adding a column "Day_Perc_Change" which calculated the daily percentage change in the closing price of the stocks for consecutive days. 

We've made use of the pct_change() function is the pandas library.

In [20]:
dfpc = df[['Close Price']].pct_change()*100

In [21]:
dfpc["Close Price"].fillna(0,inplace=True)
dfpc.rename(columns={'Close Price':'Percentage_change'},inplace=True)

df = pd.merge(df, dfpc, left_index=True, right_index=True)
df.rename(columns={'Percentage_change':'Day_Perc_Change'},inplace=True)

## 1.7

Adding the 'Trend' column to the dataframe according to the given constraints on the percentage change.

In [23]:
l = []
for i in df.Day_Perc_Change:
    if -0.5<= i <=0.5:
        l.append('Slight or no Change')
    elif 0.5<=i<=1:
        l.append('Slight Positive')
    elif -1<=i<=-0.5:
        l.append('Slight Negative')
    elif 1<=i<=3:
        l.append('Positive')
    elif -3<=i<=-1:
        l.append('Negative')
    elif 3<=i<=7:
        l.append('Among top gainers')
    elif -7<=i<=-3:
        l.append('Among top losers')
    elif i>7:
        l.append('Bull run')
    elif i<-7:
        l.append('Bear drop')
df['Trend']=l

## 1.8

Calculating the mean and the median of the 'Total traded Quanitity' column grouping them accoring the the 'Trends' we just set.

In [24]:
dfmean = df.groupby('Trend').mean()
dfmean[['Total Traded Quantity']]

                     Total Traded Quantity
Trend
Among top gainers            129801.454545
Among top losers             182270.153846
Bear drop                    321435.000000
Bull run                     300627.000000
Negative                      64012.647541
Positive                      69132.000000
Slight Negative               55232.037736
Slight Positive               56096.229167
Slight or no Change           49815.115942

In [25]:
dfmed = df.groupby('Trend').median()
dfmed[['Total Traded Quantity']]

                     Total Traded Quantity
Trend
Among top gainers                 128967.5
Among top losers                  150490.0
Bear drop                         342973.0
Bull run                          300627.0
Negative                           50169.0
Positive                           47279.0
Slight Negative                    35856.0
Slight Positive                    45222.0
Slight or no Change                42650.0

Our dataframe after adding and modifying the required quantities looks as follows.

In [26]:
df = pd.merge(df, df2[['Year','Month']], left_index=True, right_index=True)
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Day_Perc_Change,Trend,Year,Month
0,EICHERMOT,EQ,2017-05-15,29178.35,29403.10,29455.00,28831.00,28915.05,28930.60,29015.64,20026,5.810673e+08,8495,8193,40.91,0.000000,Slight or no Change,2017,5
1,EICHERMOT,EQ,2017-05-16,28930.60,28920.45,29450.00,28820.00,29365.95,29362.50,29107.91,36189,1.053386e+09,11584,16359,45.20,1.492883,Positive,2017,5
2,EICHERMOT,EQ,2017-05-17,29362.50,29262.00,29300.00,28971.35,28982.05,29093.55,29116.26,18545,5.399610e+08,7918,10611,57.22,-0.915964,Slight Negative,2017,5
3,EICHERMOT,EQ,2017-05-18,29093.55,28900.00,28998.85,28213.00,28213.00,28357.30,28521.49,30153,8.600085e+08,11283,15761,52.27,-2.530630,Negative,2017,5
4,EICHERMOT,EQ,2017-05-19,28357.30,28698.00,28698.00,27756.00,27915.00,27936.05,28024.04,44251,1.240092e+09,21721,20153,45.54,-1.485508,Negative,2017,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,EICHERMOT,EQ,2019-05-07,20349.90,20470.00,20579.90,20270.05,20345.00,20353.20,20366.88,48978,9.975293e+08,12756,19053,38.90,0.016216,Slight or no Change,2019,5
491,EICHERMOT,EQ,2019-05-08,20353.20,20280.00,20470.00,20250.00,20350.00,20336.55,20365.19,43021,8.761307e+08,12698,13056,30.35,-0.081805,Slight or no Change,2019,5
492,EICHERMOT,EQ,2019-05-09,20336.55,20315.00,20490.85,20227.60,20390.00,20360.90,20353.58,43718,8.898180e+08,11556,16312,37.31,0.119735,Slight or no Change,2019,5
493,EICHERMOT,EQ,2019-05-10,20360.90,20390.00,20417.55,20301.00,20361.35,20354.00,20346.97,54755,1.114098e+09,11925,25079,45.80,-0.033888,Slight or no Change,2019,5
494,EICHERMOT,EQ,2019-05-13,20354.00,20050.00,20121.00,18600.00,18700.00,18751.75,19178.44,342973,6.577686e+09,87269,86209,25.14,-7.871917,Bear drop,2019,5

Saving this data to a CSV file

In [27]:
df.to_csv('week2.csv',index=False)